<!-- @mention function -->
<%= javascript_include_tag('/javascripts/atMention.js') %>
<!-- pass @usernames to atMention.js -->
<div class="" id="invisable">
  <%= content_tag :div, class: "temp_information", data: {usernames: @usernames} do %>
  <% end %>
</div>

<!-- report info section -->
<div class="report_info" id="main">
  <!-- content -->
  <div class="content" id="content">
    <div class="" id="center">
      <h1 id="title"><a href="/pages/<%=@game.id%>"><%=@game.name%></a></h1>
    </div>
    <h3>Uplaoded By: <a href="/profile/<%=@user.id%>"><%=@game.creator%></a></h3>
    <h3>Number of Plays: <%= @game_visits.length %></h3>
    <h3>Times site was visited: <%= @site_visits.length %></h3>

    <!-- reports -->
    <div class="head" id="report_head">
      <h1 id="title">Reports on <%=@game.name%></h1>
      <div class="back_button">
        <%= link_to "Back", :back %>
      </div>
      <h3>Number of Reports: <%=@report.length%></h3>
    </div>

    <a href="/report/<%=@game.id%>">Report This Game</a>
    <hr>

    <!-- renders if no reports -->
    <% if @report.length == 0 %>
      <h2>This Game has never been reported</h2>
    <% end %>

    <div class="table" id="report_table">
      <% @report.each do |l| -%>
      <div class="report_data">
        <li class = "reason" id="info">
          <h2>Reason for Report:</h2>
          <h4><%=l.reason%></h4>
        </li>
        <li class = "time">
          <h2>Reported On:</h2>
          <!-- shorten this string -->
          <h4><%=l.created_at.to_s[0,16]%></h4>
        </li>
        <% if l.notes.length > 0 %>
        <li class = "notes">
          <h2>Reporter Notes:</h2>
          <h4><%=l.notes%></h4>
        </li>
        <% end %>
      </div>
      <% end %>
    </div>
    <!-- end reports -->

    <!-- ratings -->
    <div class="head" id="rating_head">
      <h1 id="title">Ratings on <%=@game.name%></h1>
      <div class="back_button">
        <%= link_to "Back", :back %>
      </div>
      <h3>Number of Ratings: <%=@rating.length%></h3>
    </div>

    <div class="" id = 'collapse'>
      <!-- render partial - rating form -->
      <%= render :partial => "pages/part/rate_form", :object=> @total_ratings%>
    </div>
    <hr>

    <!-- renders if no ratings -->
    <% if @rating.length == 0 %>
      <h2>This Game has no Ratings</h2>
    <% end %>
    <!-- all ratings -->
    <div class="table" id="ratings_table">
      <% @rating.each do |l| -%>
      <div class="report_data">
        <li class = "score" id="info">
          <h2>Score:</h2>
          <h4><%=l.score%></h4>
        </li>
        <li class = "time">
          <h2>Reported On:</h2>
          <h4><%=l.created_at.to_s[0,16]%></h4>
        </li>
        <% if l.comment.length > 0 %>
        <li class = "notes">
          <h2>Notes:</h2>
          <h4><%=l.comment%></h4>
        </li>
        <% end %>
      </div>
      <% end %>
    </div>
    <!-- end ratings -->

    <!-- comments -->
    <div class="head" id="comment_head">
      <h1 id="title">Comments on <%=@game.name%></h1>
      <div class="back_button">
        <%= link_to "Back", :back %>
      </div>
      <h3>Number of Comments: <%=@comments.length%></h3>
    </div>
    <hr>
    <!-- render partial - comment form  -->
    <div class="comment_form_container" id='comment_area'>
      <%= render :partial => "pages/part/comment_form" %>
    </div>

    <!-- render partial - comments -->
    <%= render :partial => "pages/part/comments" if controller_name == "pages" %>
    <!-- end comments-->
  </div>
  <!-- end content -->

  <!-- render partial - footer -->
  <%= render :partial => "pages/part/footer" if controller_name == "pages" %>
</div>
<!-- end report info section -->
