<script>
  function fullScreen() {
    var element = document.getElementById("iframe");
    if(element.classList == 'not_full'){
      document.getElementById('full_screen').innerHTML = "Exit Full"
      var scroll = document.querySelector("#iframe");
      scroll.scrollIntoView();
      element.classList.remove("not_full");
      element.classList.add("full_screen");
    }else{
      document.getElementById('full_screen').innerHTML = "Full Screen"
      const full = 'Full Screen'
      var scroll = document.querySelector("#main");
      scroll.scrollIntoView();
      element.classList.remove("full_screen");
      element.classList.add("not_full");
    }
  }
</script>

<div class="game_screen" id="main">
  <div class="header">
    <button type="button" name="button" onclick="return fullScreen()" id="full_screen">Full Screen</button>
    <h1 id="title"><%=@game.name%></h1>
    <h3>Uploaded by: <a href="/profile/<%=@game.user_id%>"><%=@game.creator%></a></h3>
  </div>

  <div class="game_section">
    <iframe class="not_full" id="iframe" src=<%=@webpage%> scrolling="no">
      <p>Page did not render! Try Original Page</p>
    </iframe>
  </div>

  <!-- footer -->
  <%= render :partial => "pages/footer" if controller_name == "pages" %>
</div>
<!-- end game screen -->

<div class="rating" id="rating">
  <h2>Rate this Game</h2>
  <form class="star_group" action="/add_rating" method="post">
    <input type="text" name="rating[user_id]" value="<%=current_user.id%>" readonly hidden>
    <input type="text" name="rating[game_id]" value="<%=@game.id%>" readonly hidden>

    <!-- render partial - stars -->
    <%= render :partial => "pages/stars" if controller_name == "pages" %>

    <textarea name="rating[comment]" placeholder="Leave a comment with Rating"></textarea>
    <%= submit_tag "Submit",:id=>"submit", data: { confirm: "Submit Rating?" } %>
  </form>
</div>

<div class="comments" id='main'>
  <div class="content" id = "content">
  <h1>Comment Thread</h1>
  <form class="comment_form" action="/add_comment" method="post">
    <input type="text" name="comment[user_id]" value="<%=current_user.id%>" readonly hidden>
    <input type="text" name="comment[game_id]" value="<%=@game.id%>" readonly hidden>
    <textarea name="comment[comment_text]" placeholder="Leave a Comment"></textarea>
    <input class="button" type="submit" value="Submit">
  </form>
  <!-- render partial - comments -->
  <%= render :partial => "pages/comments" if controller_name == "pages" %>
  </div>
</div>

<div class="game_info">
  <h2>Game Info</h2>
  <div class="" id="flex">
    <h3>Category:</h3>
    <h4><%=@game.category%></h4>
  </div>
  <div class="">
    <h3>Plays:</h3>
    <h4><%=@visits.length%></h4>
  </div>
  <div class="">
    Number or Ratings:
    <%=@total_ratings.length%>
  </div>
  <div class="">
    Average Rating:
    <%=@avg%>
  </div>
  <div class="" id="flex">
    <h3>Number of Reports:</h3>
    <!-- not the correct number  -->
    <h4><%=@game.reports.length%></h4>
  </div>
  <a href="/report/<%=@game.id%>">Report this Game</a>
  <div class="" id="flex">
    <h3>Original Webpage:</h3>
    <form class="" action="/add_visit" method="post" target="_blank">
      <input type="text" name="visit[game_id]" value="<%=@game.id%>" readonly hidden>
      <input type="text" name="visit[user_id]" value="<%=current_user.id%>" readonly hidden>
      <input type="submit" name="" value="<%= @webpage.to_s[8,25] %>..." onclick="window.location.href='<%=@webpage%>'">
    </form>
  </div>
  <p>Consider Visiting the orignal site.  Please <a href="/reportinfo/<%=@game.id%>#report_head"> review the number of reports and why</a> before visiting the site.</p>
</div>
