<!-- full screen function for iframe -->
<%= javascript_include_tag('/javascripts/fullScreen.js') %>
<!-- reload partials without page refresh -->
<%= javascript_include_tag('/javascripts/reload.js') %>
<!-- @mention function -->
<%= javascript_include_tag('/javascripts/atMention.js') %>
<!-- pass @username to atMention.js -->
<div class="" id="invisable">
  <%= content_tag :div, class: "temp_information", data: {usernames: @usernames} do %>
  <% end %>
</div>
<!-- end @mention -->

<div class="game_screen" id="main">
  <!-- header -->
  <div class="header">
    <button type="button" name="button" onclick="return fullScreen()" id="full_screen">
      Full Screen
    </button>
    <h1 id="title"><%=@game.name%></h1>
  </div>
  <!-- end header -->

  <!-- game section -->
  <div class="game_section">
    <iframe class="not_full" id="iframe" src=<%=@webpage%> scrolling="no">
      <p>Page did not render! Try Original Page</p>
    </iframe>
  </div>
  <!-- end game section -->

  <!-- game_info section -->
  <div class="game_info" id="content">
    <h2 id='title'>Game Info</h2>
    <h3 class="upload">Uploaded by:
      <a href="/profile/<%=@game.user_id%>"><%=@game.creator%></a>
    </h3>
    <div class="box">
      <h3>Category:</h3>
      <h4><%=@game.category%></h4>
    </div>
    <div class="box">
      <h3>Plays:</h3>
      <h4><%=@visits.length%></h4>
    </div>
    <div class="box">
      <h3>Number or Ratings:</h3>
      <h4><%=@total_ratings.length%></h4>
    </div>
    <div class="box">
      <h3>Average Rating:</h3>
      <h4><%=@avg%></h4>
    </div>
    <div class="box">
      <h3>Number of Reports:</h3>
      <!-- not the correct number  -->
      <h4><%=@game.reports.length%></h4>
    </div>
  </div>
  <!-- end game_info -->
</div>
<!-- end game screen -->

<!-- comments section -->
<div class="comments" id='main'>
  <div class="content" id = "content">
    <div class="" id="comment_area">

      <h1>Comment Thread</h1>
      <!-- render partial - comment form -->
      <%= render :partial => "pages/comment_form" %>
      <!-- render partial - comments -->
      <%= render 'pages/comments', comments: @comments%>
    </div>
  </div>
</div>
<!-- end comments -->

<!-- rating section -->
<%= render :partial => "pages/rate_form" %>
<!-- end rating section -->

<!-- links -->
<div class="show_links">
  <h2>
    Something wrong? <a href="/report/<%=@game.id%>">Report this Game</a>.
  </h2>
  <div class="original_site">
    <h3>Original Webpage:</h3>
    <form class="button_form" action="/add_visit" method="post" target="_blank">
      <input type="text" name="visit[game_id]" value="<%=@game.id%>" readonly hidden>
      <input type="text" name="visit[user_id]" value="<%=current_user.id%>" readonly hidden>
      <input type="submit" name="" value="<%= @webpage.to_s[8,25] %>..." onclick="window.location.href='<%=@webpage%>'">
    </form>
  </div>
  <p>Consider Visiting the orignal site.  Please <a href="/reportinfo/<%=@game.id%>#report_head"> review the number of reports and why</a> before visiting the site.</p>
</div>
<!-- end links -->
<!-- end of game info -->

<!-- footer -->
<div class="show_footer" id="">
  <%= render :partial => "pages/footer" if controller_name == "pages" %>
</div>
