<!DOCTYPE html>
<html>
  <head>
    <title>TextAdventure</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user%>
      <%= render :partial => "pages/navbar"  if controller_name == "pages" %>

      <% flash.each do |key, msg| -%>
        <% if flash.alert%>
          <%= content_tag :div, msg.html_safe, class: "alert", id: "alert"%>
        <% elsif flash.notice%>
          <%= content_tag :div, msg.html_safe, class: "notice", id: "notice"%>
        <% end %>
      <% end -%>
    <% end %>

    <%= yield %>
  </body>
</html>
